*{
    margin: 0;
    padding: 0;
    border: solid;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}


span{
    font-size: 50px;
    height: 100px;
    width: 100%;
  
}

.instructions{
    display: flex;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.item{
    width: 100%;
}

.input-container{
    width: 100%;
}